body {
    text-align: center;
}

body img {
    width: 60%;
    height: auto;
    border-radius: 1%;
}

.paper {
    text-align: left;
    width: 70%;
    height: auto;
    display: inline-block;
    font-size: 20px;
    word-wrap: break-word;
    word-break: break-all;
    
    
}

body a {
    color: white;
}

.hrtext {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.hrtext::before {
    content: '';
    flex: 1;
    height: 1px;
    background: linear-gradient(to right,
            transparent,
            rgba(255, 255, 255, 0.6),
            rgb(255, 255, 255));
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.hrtext::after {
    content: '';
    flex: 1;
    height: 1px;
    background: linear-gradient(to right,
            rgb(255, 255, 255),
            rgba(255, 255, 255, 0.6),
            transparent);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.hrtext span {
    padding: 0 15px;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    border-radius: 20px;
    position: relative;
    z-index: 2;
}